#PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=supply_chain
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_SHIPMENTS=shipment-events
KAFKA_TOPIC_SUPPLIERS=supplier-events

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000